body {
font-family: Arial;
background-color: #f2f2f2;
}
h1 {
color: darkblue;
text-align: center;
}
table {
border-collapse: collapse;
width: 80%;
margin: auto;
background-color: white;
}
th, td {
border: 1px solid black;
padding: 8px;
text-align: center;
}
th {
background-color: lightblue;
}
