body {
    font-family: Arial;
    background-color: #f0f8ff;
}

h1 {
    text-align: center;
    color: darkblue;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    background-color: white;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: lightblue;
}